{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-md-12">
    <button type='button' class='btn btn-success pull-right' onclick='dismiss({{ id }})'>Dismiss Anomaly</button>
  </div><br /><br />
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading a-panel-heading" data-id="0"> Information</div>
      <div class="panel-body" data-id="0">
		  <strong>Date: </strong> {{ date }} <br />
        <strong>Sugested Anomaly Type:</strong> {{ anomalyType }}<br />
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading a-panel-heading" data-id="1">Price</div>
      <div class="panel-body" data-id="1">

        <div id="price_chart" style="style="min-height: 500px""></div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading a-panel-heading" data-id="2">Volume</div>
      <div class="panel-body" data-id="2">

        <div id="volume_chart" style="style="min-height: 500px""></div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading a-panel-heading" data-id="3">Previous trades from buyer for this stock</div>
      <div class="panel-body" data-id="3">
		  <div id="container" style="width:100%;">
				<div class="table-responsive">
					<table class="table table-bordered table-hover table-striped" id="table-buyer">
						<thead>
							<tr>
								<th>Date</th>
								<th>Time</th>
								<th>Buy price</th>
								<th>Sell price</th>
								<th>Size</th>
							</tr>
						</thead>
						<tbody>
						{%- for trade in trades %}
						{%- if buyer == trade.buyer or buyer == trade.seller %}
							<tr {%- if trade.time==baseTrade.time and trade.size==baseTrade.size and trade.price==baseTrade.price %} id="buyer-trade" style="background-color:#ADD8E6"{%- endif %}>
									<td>{{ trade.time|stringdate }}</td>
									<td>{{ trade.time|stringtime }}</td>
									<td>{%- if buyer == trade.buyer  %} BUY {%- else %} SELL {%- endif %}</td>
									<td>{{ trade.price }}</td>
									<td>{{ trade.size }}</td>
							</tr>
						{%- endif %}
						{%- endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
    </div>
  </div>

  <div class="col-md-12">
	  <div class="panel panel-default">
		<div class="panel-heading a-panel-heading" data-id="4">Previous trades from seller for this stock</div>
		<div class="panel-body" data-id="4">
			
			<div id="container" style="width:100%;">
				<div class="table-responsive">
					<table class="table table-bordered table-hover table-striped" id="table-seller">
						<thead>
							<tr>
								<th>Date</th>
								<th>Time</th>
								<th>Transaction</th>
								<th>Price</th>
								<th>Size</th>
							</tr>
						</thead>
						<tbody>
							{%- for trade in trades %}
							{%- if seller == trade.buyer or seller == trade.seller %}
							<tr {%- if trade.time==baseTrade.time and trade.size==baseTrade.size and trade.price==baseTrade.price %} id="seller-trade" style="background-color:#ADD8E6"{%- endif %}>
								<td>{{ trade.time|stringdate }}</td>
								<td>{{ trade.time|stringtime }}</td>
								<td>{%- if seller == trade.buyer  %} BUY {%- else %} SELL {%- endif %}</td>
								<td>{{ trade.price }}</td>
								<td>{{ trade.size }}</td>
							</tr>
							{%- endif %}
							{%- endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	  </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading a-panel-heading" data-id="5">
        <i class="fa fa-bar-chart-o fa-fw"></i> Data
      </div>
      <div class="panel-body" data-id="5">
        <div class="row">
          <div class="col-lg-12">
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped">
                <thead>
                  <tr>
                    <th>Time</th>
                    <th>Buyer</th>
                    <th>Seller</th>
                    <th>Price</th>
                    <th>Size</th>
                    <th>Currency</th>
                    <th>Symbol</th>
                    <th>Sector</th>
                    <th>Bid</th>
                    <th>Ask</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ time }}</td>
                    <td>{{ buyer }}</td>
                    <td>{{ seller}}</td>
                    <td>{{ price }}</td>
                    <td>{{ size}}</td>
                    <td>{{ currency }}</td>
                    <td>{{ symbol }}</td>
                    <td>{{ sector }}</td>
                    <td>{{ bid }}</td>
                    <td>{{ ask }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!-- Renders graph based on inputs -->
<script type="text/javascript">
	function renderchart(data,id,heading,ylabel,pointlabel){
		var chart = Highcharts.stockChart(id,{
				 chart: {
					 zoomType: 'x'
				 },
				 title: {
					 text: heading
				 },
				 subtitle: {
					 text: document.ontouchstart === undefined ?
					 'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
				 },
				 xAxis: {
					 type: 'datetime',
					 scrollbar: {
						 enabled: true,
						 showFull: false
					 },
					 ordinal: false
				 },
				 yAxis: {
					 title: {
						 text: ylabel
					 },
					 opposite: false,
					 
				 },
				 legend: {
					 enabled: false
				 },
				 rangeSelector: {
					 selected: 1,
					 inputEnabled: false,
					 buttonTheme: {
						 visibility: 'hidden'
					 },
					 labelStyle: {
						 visibility: 'hidden'
					 }
				 },
				 plotOptions: {
					 area: {
						 fillColor: {
							 linearGradient: {
								 x1: 0,
								 y1: 0,
								 x2: 0,
								 y2: 1
							 },
							 stops: [
									 [0, Highcharts.getOptions().colors[0]],
									 [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
									 ]
						 },
						 marker: {
							 radius: 2
						 },
						 lineWidth: 1,
						 states: {
							 hover: {
								 lineWidth: 1
							 }
						 },
						 threshold: null
					 }
				 },
				 series: [{
						  //type: 'area', //put back in if you want graph filled
						  name: pointlabel,
						  data: data
						  }]
				 });
		return chart;
	}
</script>
<script type="text/javascript">
$(function () {
	var pricedata = ([
	{%- for trade in trades %}
		//price
		 {%- if trade.time == time and trade.price == price  %}
			{x:Date.parse('{{ time }}'),y:{{ price }},marker: {fillColor: 'red',lineWidth: 2,radius:5, enabled:true} }
		 {% else %}
			[Date.parse('{{ trade.time }}'),{{ trade.price }}]
		 {% endif %}
		{%- if not loop.last %},{% endif %}
	{%- endfor %}]);
  //volume
	var volumedata = ([
		{%- for trade in trades %}
			{%- if trade.time == time and trade.size == size  %}
				{x:Date.parse('{{ time }}'),y:{{ size }},marker: {fillColor: 'red',lineWidth: 2,radius:5, enabled:true} }
			{% else %}
				[Date.parse('{{ trade.time }}'),{{ trade.size }}]
			{% endif %}
			{%- if not loop.last %},{% endif %}
		{%- endfor %}]);

	//draw price chart
	var pchart = renderchart(pricedata,'price_chart','Price per trade in the past 24 hours proccessed','Stock price','price');
	
	pchart.xAxis[0].setExtremes(Date.parse('{{ lower }}'),Date.parse('{{ upper }}'));
	pchart.showResetZoom();
	//draw volume chart
	var vchart = renderchart(volumedata,'volume_chart','Volume per trade in the past 24 hours proccessed','Volume','size');

	vchart.xAxis[0].setExtremes(Date.parse('{{ lower }}'),Date.parse('{{ upper }}'));
	vchart.showResetZoom();

});
</script>
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='js/anomaly.js') }}"></script>
<!-- HighCharts -->
<script src="{{ url_for('static', filename='Highstock-5.0.7/code/highstock.js') }}"></script>
{% endblock %}
