{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-lg-4 col-md-4">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-exclamation-triangle fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge" id="anomalies">{{ numberOfAnomalies }}</div>
            <div>Anomalies Detected</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-bar-chart fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge" id="trades">{{ numberOfTrades }}</div>
            <div>Trades Analysed</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-money fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge" id="tradevalue">{{ totalTradeValue }}</div>
            <div>Trade Value</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Anomaly Detected
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-striped" id="table-anomaly">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Anomaly Type</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
 <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
